In [2]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn import svm
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [4]:
data = pd.read_csv('log2.csv')
data.head()

,Source Port,Destination Port,NAT Source Port,NAT Destination Port,Action,Bytes,Bytes Sent,Bytes Received,Packets,Elapsed Time (sec),pkts_sent,pkts_received
0,57222,53,54587,53,allow,177,94,83,2,30,1,1
1,56258,3389,56258,3389,allow,4768,1600,3168,19,17,10,9
2,6881,50321,43265,50321,allow,238,118,120,2,1199,1,1
3,50553,3389,50553,3389,allow,3327,1438,1889,15,17,8,7
4,50002,443,45848,443,allow,25358,6778,18580,31,16,13,18

In [5]:
X=data.drop('Action',axis=1)
X

,Source Port,Destination Port,NAT Source Port,NAT Destination Port,Bytes,Bytes Sent,Bytes Received,Packets,Elapsed Time (sec),pkts_sent,pkts_received
0,57222,53,54587,53,177,94,83,2,30,1,1
1,56258,3389,56258,3389,4768,1600,3168,19,17,10,9
2,6881,50321,43265,50321,238,118,120,2,1199,1,1
3,50553,3389,50553,3389,3327,1438,1889,15,17,8,7
4,50002,443,45848,443,25358,6778,18580,31,16,13,18
...,...,...,...,...,...,...,...,...,...,...,...
65527,63691,80,13237,80,314,192,122,6,15,4,2
65528,50964,80,13485,80,4680740,67312,4613428,4675,77,985,3690
65529,54871,445,0,0,70,70,0,1,0,1,0
65530,54870,445,0,0,70,70,0,1,0,1,0
65531,54867,445,0,0,70,70,0,1,0,1,0

In [6]:
Y=data['Action']
Y

0        allow
1        allow
2        allow
3        allow
4        allow
         ...
65527    allow
65528    allow
65529     drop
65530     drop
65531     drop
Name: Action, Length: 65532, dtype: object

In [7]:
x_train, x_test, y_train, y_test= train_test_split(X, Y, test_size= 0.30, random_state=101)

In [8]:
scaler = StandardScaler()
x_train= scaler.fit_transform(x_train)
x_test= scaler.fit_transform(x_test)

In [25]:
#Create a svm Classifier
clf = svm.SVC(kernel='linear') # Linear Kernel

#Train the model using the training sets
clf.fit(x_train, y_train)

#Predict the response for test dataset
y_pred = clf.predict(x_test)

In [26]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9901322482197356

In [27]:
print("Precision:",metrics.precision_score(y_test, y_pred, average='micro'))

Precision: 0.9901322482197356

In [28]:
print("Recall:",metrics.recall_score(y_test, y_pred, average='micro'))

Recall: 0.9901322482197356

In [29]:
#Create a svm Classifier
clf = svm.SVC(kernel='rbf') # RBF Kernel

#Train the model using the training sets
clf.fit(x_train, y_train)

#Predict the response for test dataset
y_pred = clf.predict(x_test)

In [30]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9855544252288911

In [31]:
print("Precision:",metrics.precision_score(y_test, y_pred, average='micro'))

Precision: 0.9855544252288911

In [32]:
print("Recall:",metrics.recall_score(y_test, y_pred, average='micro'))

Recall: 0.9855544252288911

In [33]:
#Create a svm Classifier
clf = svm.SVC(kernel='poly') # Polynomial Kernel

#Train the model using the training sets
clf.fit(x_train, y_train)

#Predict the response for test dataset
y_pred = clf.predict(x_test)

In [34]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9510172939979654

In [35]:
print("Precision:",metrics.precision_score(y_test, y_pred, average='micro'))

Precision: 0.9510172939979654

In [36]:
print("Recall:",metrics.recall_score(y_test, y_pred, average='micro'))

Recall: 0.9510172939979654

In [37]:
#Create a svm Classifier
clf = svm.SVC(kernel='sigmoid') # Sigmoid Kernel

#Train the model using the training sets
clf.fit(x_train, y_train)

#Predict the response for test dataset
y_pred = clf.predict(x_test)

In [38]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9292980671414038

In [39]:
print("Precision:",metrics.precision_score(y_test, y_pred, average='micro'))

Precision: 0.9292980671414038

In [40]:
print("Recall:",metrics.recall_score(y_test, y_pred, average='micro'))

Recall: 0.9292980671414038